a{
	text-decoration:none;
	font-weight:bold;
	font-size:18px;
	color:black;
}
a:hover, a:active{
	color: orange;
}

/* css table */
#table_border{
		width:650px;
		font-size:13px;
		border-collapse:collapse;
		border: 1px solid #d1d4d3;
		
}
#table_border tr td{
	border-collapse:collapse;
	border: 1px solid #d1d4d3;
}
#tablelihat{
		width:100%;
		font-size:13px;
		border-collapse:collapse;
		border: 1px solid #d1d4d3;
		margin-top:10px;
}
#tablelihat tr td{
	border-collapse:collapse;
	border: 1px solid #d1d4d3;
}
#tableuser{
		margin-top:10px;
		margin-left:150px;
}

#trstyle{
	background:#50504d;
	font-size:14px;
	font-weight:bold
}
.list {
	margin-bottom: 20px;
	padding-top:5px;
}
.list thead td {
	background-color: #E5E5E5; 
	padding: 0px 5px; text-transform: capitalize;
}
.list thead td a, .list thead td {
	text-decoration: none; 
	color: #000000;
	font-weight: bold;	
}
.list tbody a {
	text-decoration: none;
}
.list tbody td {
	vertical-align: middle;
	padding: 0px 5px;
}
.list .left {
	text-align: left;
	padding: 7px;
}
.list .right {
	text-align: right;
	padding: 7px;
}
.list .center {
	text-align: center;
	padding: 7px;
}

/* css untuk body */
body{
	width:auto;
	height:auto;
	font-family: calibri;
	font-size:20px;
	margin:0 auto 0 auto;
	padding:10px 8px 0 8px;
	background:url(../images/gambar.jpg);
}

/* css header */
#header{
	height:210px;
	width: auto;
	padding:0 px 0 8px;
	background:url(../images/bg-body.jpg);
}
#logo1{
	float:left;
	height:180px;
	margin:0 auto 0 auto;
	padding:40px 0 0 30px;
	padding-left:200px;
}
#logo{
	float:left;
	height:180px;
	margin:0 auto 0 auto;
	padding:20px 50px 0 100px;	
}
#user{
	float:right;
	width : 300px;
	margin:0 auto 0 auto;
	padding: 35px 50px 0 0;
}
#user table{
	border-collapse:collapse;
	border: 0px solid #5f6168;
	color:#ffffff;
}

/* css login */
#login{
	width:250px;
	height:90px;
	background:#d6d6ce;
	border:#000000 thin solid;
	border-width:2px;
	margin:20px auto 0 auto;
	padding:10px;
}
#submit{
	width:250px;
	height:30px;
	background:url(../images/img01.png);
	border:#000000 thin solid;
	border-width:2px;
	margin:20px auto 0 auto;
	padding:10px;
}

/* css menu */
#menu{
	height:auto;
	padding-top : 5px;
	padding-bottom : 5px;
	text-color:dwwd;
}
#drop{
	margin:0 auto 0 auto;
	padding:10px;
}
#tablemenu{
	text-align:center;
	padding:0 550px 0 0;
}
#tablemenu td{
	text-align:center;
}

/* css home */
#home{
	height:auto;
	background-color:#ffffff;
}

#welcome{
	margin:0 auto 0 auto;
	padding:5px 0 0 0;
}
#content{
	height:220px;
	margin:0 auto 0 auto;
	padding:50px 0 0 312px;
}
.fp_box5 { 
	float: left;
	margin-left:130px; 
	padding: 9px; 
	text-align: center; 
	background: #c8c8bd; 
	border: 1px solid #e8e8e3; 
	border-radius:25px;
	-moz-border-radius:25px;
}

.fp_box5:hover { 
	background: #3f75f3; 
}

.fp_box5 h2 a { 
	color: #000; 
	font-size: 14px; 
	font-weight: 700; 
}

.fp_box5 img { 
	margin-bottom: 10px; 
}

.fp_box5 h2 { 
	margin-bottom: 5px; 
}

.fp_box5 p { 
	text-align: left; 
}

.fp_box5:hover.fp_box5 h2 a { 
	color: #fff; 
	font-size: 14px; 
	font-weight: 700; 
}

.fp_box5:hover p { 
	color: #d6d6ce;
}

/* css permohonan */
#permohonan{
	height:230px;
	margin:0 auto 0 auto;
	padding:100px 0 0 312px;
}
#permohonangambar{
	height:180px;
	background:#d6d6ce;
	margin:0 auto 0 auto;
	padding:35px 0 0 10px;
}
#permohonan2{
	height:230px;
	margin:0 auto 0 auto;
	padding:100px 0 0 410px;
}
#permohonan3{
	height:230px;
	margin:0 auto 0 auto;
	padding:100px 0 0 210px;
}
#permohonan4{
	height:220px;
	margin:0 auto 0 auto;
	padding:100px 0 0 0;
}
#tambah_permohonan{
	height:auto;
	margin:0 auto 0 auto;
	padding:20px 25px 25px 20px;
	clear:both;
	width:auto;
}
#tambah1{
	height:100px;
	background:#d6d6ce;
	margin:0 auto 0 auto;
	padding:20px 0 20px 130px;
}
#tambah2{
	height:100px;
	background:#d6d6ce;
	margin:0 auto 0 auto;
	padding:20px 0 20px 130px;
}
#tambah_judul{
	height:20px;
	background:#d6d6ce;
	margin:0 auto 0 auto;
	padding:20px 0 20px 20px;
}
#tablepermohonan{
	text-align:left;
}
.fp_box { 
	float: left; 
	width: 160px; 
	padding: 1px; 
	margin-right:100px;
	text-align: center; 
	background: #c8c8bd; 
	border: 1px solid #e8e8e3; 
}

.fp_box:hover { 
	background: #696960; 
}

.fp_box h2 a { 
	color: #000; 
	font-size: 14px; 
	font-weight: 700; 
}

.fp_box h2 { 
	margin-bottom: 15px; 
}

.fp_box:hover.fp_box h2 a { 
	color: #fff; 
	font-size: 14px; 
	font-weight: 700; 
}
.fp_box h1 a { 
	color: #000; 
	font-size: 14px; 
	font-weight: 700; 
}

.fp_box h1 { 
	margin-top: 8px;
	margin-bottom: 10px; 
}

.fp_box:hover.fp_box h1 a { 
	color: #fff; 
	font-size: 14px; 
	font-weight: 700; 
}

/* css footer */
#footer{
	padding:10px 0 20px 10px;
	height:60px;
	background:url(../images/bg-body.jpg);
}

/* css Paging */
.pagination{padding: 15px 0 0 0px;font-size: 11px; }
.pagination a {padding: 4px 5px; font-size: 12px; color: #333; margin: 0 1px; background:#efefef; border:1px solid #ddd; text-decoration: none;}
.pagination a:hover {background:#666; color: #fff; border:1px solid #333;}
.pagination strong {font-weight:bold;padding: 4px 5px; margin: 0 1px; border:1px solid #888888;}
.pagination-info{font-size:11px; padding: 6px 0 0 0;}

/* css Search */
#search{
	width:auto;
	margin:0 auto 0 auto;
	padding:20px 0 0 30px;
}
#search table{
	font-size:13px;
}
#buttonSearch{
	width:auto;
	margin:0 auto 0 auto;
	padding:18px 20px 0 30px;
}
#tablelihat1{
		width:100%;
		font-size:11px;
		border-collapse:collapse;
		border: 1px solid #d1d4d3;
		margin-top:10px;		
}
#tablelihat1 tr td{
	border-collapse:collapse;
	border: 1px solid #d1d4d3;
}
#trstyle1{
	background:#50504d;
	font-size:11px;
	font-weight:bold;
}
#search1{
	width:auto;
	height:300px;
	margin:0 auto 0 auto;
	padding:20px 0 0 30px;
}
#search1 table{
	font-size:13px;
}
#trstyle2{
	background:#50504d;
	font-size:14px;
	height:50px;
	font-weight:bold
}
#trstyle3{
	font-size:12px;
	height:50px;
}

